.App {
  text-align: left;
  font-size: x-large;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.thead-dark {
  background-color: black;
  color: white;
}

a {
  text-decoration: underline !important;
  color: blue !important;
  cursor: pointer !important;
}

.ReactModal__Content,
.ReactModal__Content--after-open {
  inset: 50px !important;
}

tbody tr:hover {
  background-color: aqua;
  cursor: pointer;
}
